<h3>New Post</h3>

<form id="submit_post" method="post" action='/<%= @category.name %>/new_post'>
	<input type="text" name="title" placeholder="Title"><br>
	<textarea cols='22'name="description" placeholder="Description"></textarea><br>
	<input type="submit" value="Submit">
</form>


