<h3>Create a Category</h3>

<form id="submit_category" method="post" action="/new_category">
	<input type="text" name="category[name]" placeholder="Name"><br>
	<input type="submit" value="Submit">
</form>
